<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://d5e0dd25-0ee0-4-231-b9ee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>d5e0dd25-0ee0-4-231-b9ee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>d5e0dd25-0ee0-4-231-b9ee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$d5e0dd25-0ee0-4-231-b9ee</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Excel03ConString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};      Extended Properties='Excel 8.0;HDR={1}'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel03ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};      Extended Properties='Excel 8.0;HDR={1}'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Excel07ConString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};  Extended Properties='Excel 12.0;HDR={1}'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel07ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};  Extended Properties='Excel 12.0;HDR={1}'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="icshopc_icshopcEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test.icshopc_icshopcEntities, Test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="icshopc_icshopcEntities1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test.icshopc_icshopcEntities1, Test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="icshopc_icshopcEntities2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test.icshopc_icshopcEntities2, Test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Excel03ConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Excel07ConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)icshopc_icshopcEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)icshopc_icshopcEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)icshopc_icshopcEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>